<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>Week 1: Introduction</string>
		<key>Sketches</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Random Walker</string>
				<key>Description</key>
				<string>A particle that moves in a random direction each frame.</string>
				<key>Controller</key>
				<string>RandomWalker</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Directed Walker</string>
				<key>Description</key>
				<string>A Random Walker that probabilistically follows a touch point, or the device tilt.</string>
				<key>Controller</key>
				<string>DirectedWalker</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Perlin Walker</string>
				<key>Description</key>
				<string>A Radom Walker whos direction is determined by Perlin Noise.</string>
				<key>Controller</key>
				<string>PerlinWalker</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Week 2: Vectors and Forces</string>
		<key>Sketches</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Accelerated Mover</string>
				<key>Description</key>
				<string>A Mover whos velocity is influenced by acceleration.</string>
				<key>Controller</key>
				<string>AccelMover</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Mover Swarm</string>
				<key>Description</key>
				<string>Multiple movers that are mutually repulsed when near and attracted when distant. Acceleration is also affected by swipe gestures.</string>
				<key>Controller</key>
				<string>MultiMover</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Mover 3D Swarm</string>
				<key>Description</key>
				<string>A Mover swarm in 3D. Does not react to touch.</string>
				<key>Controller</key>
				<string>Movers3D</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Scratchpad</string>
		<key>Sketches</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Sandbox</string>
				<key>Description</key>
				<string>For testing purposes</string>
				<key>Controller</key>
				<string>TEST</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
