<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>Week 1: Introduction</string>
		<key>Sketches</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Random Walker</string>
				<key>Description</key>
				<string>A particle that moves in a random direction each frame.</string>
				<key>Controller</key>
				<string>RandomWalker</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Directed Walker</string>
				<key>Description</key>
				<string>A Random Walker that probabilistically follows a touch point, or the device tilt.</string>
				<key>Controller</key>
				<string>DirectedWalker</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Perlin Walker</string>
				<key>Description</key>
				<string>A Radom Walker whos direction is determined by Perlin Noise.</string>
				<key>Controller</key>
				<string>PerlinWalker</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Week 2: Vectors and Forces</string>
		<key>Sketches</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Accelerated Mover</string>
				<key>Description</key>
				<string>A Mover whos velocity is influenced by acceleration.</string>
				<key>Controller</key>
				<string>AccelMover</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Mover Swarm</string>
				<key>Description</key>
				<string>Multiple movers that are mutually repulsed when near and attracted when distant. Acceleration is also affected by swipe gestures.</string>
				<key>Controller</key>
				<string>MultiMover</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Mover 3D Swarm</string>
				<key>Description</key>
				<string>A Mover swarm in 3D. Does not react to touch.</string>
				<key>Controller</key>
				<string>Movers3D</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Week 3: Oscillation</string>
		<key>Sketches</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Wave Addition</string>
				<key>Description</key>
				<string>2 oscillating waves combined. Drag your finger to change the amplitude and frequency of wave 2. </string>
				<key>Controller</key>
				<string>WaveAddition</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Wave Tap</string>
				<key>Description</key>
				<string>Tapping the screen generates additive waves. Position of the tap determines the amplitude and frequency.</string>
				<key>Controller</key>
				<string>WaveTap</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Wave Matrix</string>
				<key>Description</key>
				<string>Tapping the screen sends waves through a 3D grid of cubes.</string>
				<key>Controller</key>
				<string>WaveMatrix</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Week 4: Particle Systems</string>
		<key>Sketches</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Particle Emitter</string>
				<key>Description</key>
				<string>A simple particle emitter that reacts to touch dragging. The options panel allows you to choose blend mode parameters, which are passed into glBlendFunc().</string>
				<key>Controller</key>
				<string>ParticleSystem</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Paper Burn</string>
				<key>Description</key>
				<string>Touch the screen to spawn flames that will consume the paper. Flames are attracted to the whitest parts of the paper. The direction of the flame trails respond to device orientation.</string>
				<key>Controller</key>
				<string>PaperBurn</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Week 5: Misc</string>
		<key>Sketches</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Triangulation</string>
				<key>Description</key>
				<string>A basic example of Delaunay  Triangulation. Nodes are randomly added to an image which are incorporated into the triangle mesh.</string>
				<key>Controller</key>
				<string>Triangulation</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Triangle Spirals</string>
				<key>Description</key>
				<string>Generate a triangulated mesh that connects a spiral. Tapping the screen in various locations adjusts the spiral configuration.</string>
				<key>Controller</key>
				<string>TriangleSpiral</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Face Mesh</string>
				<key>Description</key>
				<string></string>
				<key>Controller</key>
				<string>FaceMesh</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
